/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*****************************************************
General whole page styling
*****************************************************/

@font-face {
	font-family: 'Tisa Pro Medium';
	src:url('./fonts/TisaPro-Medi.otf');
}

@font-face {
	font-family: 'Tisa Pro';
	src:url('./fonts/TisaPro.otf')
}

/*****************************************************
Header styling block
*****************************************************/

header {
		background-color: #39474E;
		width: 100%;
		color: #FFF;
		padding: 5%;
}

header #app-name {
	font-family: 'Tisa Pro Medium', serif;
	font-size: 1em;
	text-align: left;
	padding: 0;
}

header #app-title {
  font-family: 'Tisa Pro Medium', serif;
  font-size: 2em;
  text-align: center;
	width: 90%;
	padding-top: 5%;
}

/******************************************************
Todo List styling
******************************************************/

#check-all {
	width: 5%;
}

#task-adder {
	border-style: none;
	background-color: #ADB8C4;
	color: #39474E;
	font-family: 'Tisa Pro', serif;
	font-size: .80em;
	width: 92%;
}

.list-title {
	color: 	#39474E;
}

.list-box {
	background-color: #ADB8C4;
	border-radius: 10px;
	color: 	#39474E;
	padding: 3%;
	margin: 5%;
}

.toDoList li {
  border-bottom: 2px solid #39474E;
  font-family: 'Tisa Pro', serif;
  font-size: 1.5em;
  padding: 1%;
  width: 90%;
  margin: 2% 5%;
}

.to-do-check {
	margin-right: 4%;
	margin-bottom: 4%;
}

.list-title {
  font-family: "Tisa Pro", serif;
  font-size: 2em;
  padding: 1%;
  margin: 5%;
  margin-bottom: 1%;
}

#task-bar {
	text-align: center;
}

#task-bar a {
	color: #39474E;;
	font-family: 'Tisa Pro';
	text-decoration: none;
	padding: 1%;
}
